<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body class="hold-transition skin-blue sidebar-mini">
<section class="content-header">
  <h1>
    屏蔽号码管理
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="box box-primary">
    <form class="form-horizontal" id="query_form">
      <div class="box-body">
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="col-sm-3 control-label">屏蔽号码:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="" placeholder="" th:text="${phone}" name="phone">
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-sm-3 control-label">业务种类:</label>
            <div class="col-sm-9">
              <input type="hidden" name="businessType">
              <select class="form-control select-control" style="width: 100%;" id="query_business">
                <option selected="selected" value="0" name="type">全部</option>
                <div th:each="entry : ${businessTypes}">
                  <option th:text="${entry.value}" th:value="${entry.key}"  name="type"></option>
                </div>
              </select>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-sm-3 control-label">屏蔽结束时间:</label>
            <div class="col-sm-9 col-md-9 col-xs-9 input-group date form_time" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-format="yyyy-mm-dd hh:ii:ss">
              <input class="form-control" value="" size="16" type="text" name="qexpiredTime">
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
              <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <input type="hidden" id="dtp_input2" value=""/><br/>

          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="col-sm-10">

        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-primary search-button" >查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-success" id="add_shiled">添&nbsp;&nbsp;&nbsp;&nbsp;加</button>
        </div>

      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <table id="data_table" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>序号</th>
              <th>业务种类</th>
              <th>屏蔽号码</th>
              <th>屏蔽结束时间</th>
              <th>添加时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody class="data-table">
            </tbody>
          </table>

          <div class="modal fade" id="shield-modal">
            <div class="modal-dialog">
              <form class="modal-content audio-form" id="shield_form" action="/shieldNumber/add">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">手动屏蔽手机号码配置</h4>
                </div>
                <div class="modal-body">

                  <div class="box-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>手机号码</td>
                        <td>
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="多个号码请用逗号隔开" required>
                        </td>
                      </tr>
                      <tr>
                        <td>业务</td>
                        <td>
                          <input type="hidden" name="businessCategory">
                          <select class="form-control select-control" style="width: 100%;" id="sel_business" >
                            <option th:each="entry : ${businessTypes}" th:value="${entry.key}" name='businessCode' th:text="${entry.value}"></option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>屏蔽结束时间</td>
                        <td>
                          <!--<div class="input-group date">
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="expiredTime" name="expiredTime">
                          </div>-->
                          <div class="input-group date form_time" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-format="yyyy-mm-dd hh:ii:ss">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            <input class="form-control pull-right" size="16" type="text" name="expiredTime" id="expiredTime">
                          </div>
                        </td>
                      </tr>
                      <input type="hidden" name="id" id="shieldId">
                    </table>
                  </div>
                </div>
                <div class="modal-footer row btn-only-box">
                  <button type="button" class="btn btn-primary submit" data-dismiss="modal">确定</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div th:include="common/data-script::data"></div>

<script th:inline="javascript">
  $(function () {

    var businessTypes = [[${businessTypes}]];
    var businessDesc;
    $('.select-control').select2();
    $("#data_table").dataTable({
      serverSide: true,//分页，取数据等等的都放到服务端去
      processing: true,//载入数据的时候是否显示“载入中”
      pageLength: 10,//首次加载的数据条数
      ordering: false,//排序操作在服务端进行，所以可以关了。
      bFilter: false,
      dom:'t<"bottom"ilp><"clear">',
      ajax: {//类似jquery的ajax参数，基本都可以用。
        type: "post",//后台指定了方式，默认get，外加datatable默认构造的参数很长，有可能超过get的最大长度。
        url: "/shieldNumber/v_list",
        dataSrc: "data",//默认data，也可以写其他的，格式化table的时候取里面的数据
        data: function (d) {//d 是原始的发送给服务器的数据，默认很长。
          var param = {};//因为服务端排序，可以新建一个参数对象
          param.start = d.start;//开始的序号
          param.length = d.length;//要取的数据的
          var formData = $("#query_form").serializeArray();//把form里面的数据序列化成数组 filter_form
          formData.forEach(function (e) {
            param[e.name] = e.value;
          });
          return param;//自定义需要传递的参数。
        },dataFilter: function (json) {//json是服务器端返回的数据
          //如果服务端返回的json字符串符合datatable要求，则直接return json，若不符合则进行以下步骤
          //获取到的是json字符串,转换成json对象，提取所需要的数据
          var dt = $.parseJSON(json);
          //然后定义一个符合datatable要求的对象，data属性的值是实际返回的数据
          var returndt = {
            //"draw": ,
            "recordsTotal": dt.recordsTotal,
            "recordsFiltered": dt.recordsTotal,
            "data":dt.data
          };
          //把符合要求的对象再次转为json字符串return出去
          return JSON.stringify(returndt);
        }
      },
      columns: [//对应上面thead里面的序列
        { data: "id" },
        { data: function (e) {
            businessDesc = businessTypes[e.businessCategory];
            if (businessDesc != 'undefined') {
              return businessDesc;
            }
            return "无";
          }
        },
        { data: function (e) {
            if (e.phone) {
              return e.phone;
            }
            return "无";
          }
        },
        {
          data: function (e) {
            if (e.expiredTime) {
              return new Date(e.expiredTime).format("yyyy-MM-dd hh:mm:ss");
            }
            return "";
          }
        },
        {
          data: function (e) {
            if (e.createdTime) {
              return new Date(e.createdTime).format("yyyy-MM-dd hh:mm:ss");
            }
            return "";
          }
        },
        {
          //shieldNumber/o_delete?id="+e.id+"
          data: function (e,row) {
            var html = "<a id='"+e.id+"' href='/shieldNumber/v_edit?id="+e.id+"' class='btn btn-default btn-warning link-button show-edit'><i class='fa fa-edit'></i> 编辑</a>";
            return html;
          }
        }
      ],
      initComplete: function (setting, json) {
        initLink();
        initAfterData();
      },
      language: {
        lengthMenu: "每页显示_MENU_ 条",
        processing: "正在加载数据...",//处理页面数据的时候的显示
        search: '<span class="label label-success">搜索：</span>',
        paginate: {//分页的样式文本内容。
          previous: "上一页",
          next: "下一页",
          first: "第一页",
          last: "最后一页"
        },
        zeroRecords: "没有找到符合条件的数据",//table tbody内容为空时，tbody的内容。
        //下面三者构成了总体的左下角的内容。
        info: "共_PAGES_ 页，当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",//左下角的信息显示，大写的词为关键字。
        infoEmpty: "0条记录",//筛选为空时左下角的显示。
        infoFiltered: "(从 _MAX_ 条记录过滤)"//筛选之后的左下角筛选提示(另一个是分页信息显示，在上面的info中已经设置，所以可以不显示)，
      }
    });
    $('.form_time').datetimepicker().on('changeDate', function(ev) {
    }).on('hide', function(event) {
      event.preventDefault();
      event.stopPropagation();
    });
    /*日期控件初始化*/
    $('.form_time').datetimepicker({
      language: 'zh-CN',
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      minView: 0,
      forceParse: 0
    });

    $(".search-button").click(function (e) {

      $("input[name='businessType']").val($("#query_business").find("option:selected").val());
      $('#data_table').DataTable().draw();
    })

    $("#add_shiled").on('click',function (e) {

      $("#shield_form input[type='text']").val("");
        $("#shield-modal").modal('show');
    })

    /**
     * 清空模态框
     */
    $("#shield-modal").on('hide.bs.modal', function (e) {
      $("#shield_form #shieldId").val("");
      $("#shield_form #phone").val("");
      $("#shield_form input[name='businessCategory']").val("");
    })

    $("#shield_form .submit").on('click',function (e) {

      $("input[name='businessCategory']").val($("#sel_business").find("option:selected").val());

      if(!checkExists()){
        var result = LoadFormAjaxData($("#shield_form"));
        if(result.status == 1){
          bootAlert(result.msg)
        }
        $('#data_table').DataTable().draw();
      }else{
        bootAlert("您要添加的手机号码和业务类型存在,请修改后重试!")
      }

    })

  })

  initAfterData = function(e){
    $('.link-button').on('click', function (e) {
      if ($(this).hasClass('show-edit')) {
        e.preventDefault();
        var url = $(this).attr('href');
        var result = LoadAjaxData(url);
        if(result == undefined){
          bootAlert("系统出现问题,请联系开发人员.");
          return;
        }
        var data = result.data;
        $('#shield-modal #phone').val(data.phone);

        $("#sel_business").find("option").each(function(){
          if($(this).attr("value") == data.businessCategory){
            $(this).attr('selected',true)
          }
        });
        $("#sel_business").select2();

        $('#shield-modal #expiredTime').val(new Date(data.expiredTime).format("yyyy-MM-dd hh:mm:ss"));
        $('#shield-modal #shieldId').val($(this).attr('id'));
        $('#shield-modal').modal('show');
      }
    })
  }
  function checkExists(){

    var exist = false;
    var url = '/shieldNumber/checkExists?businessCategory='+$("input[name='businessCategory']").val()+"&phone="+$("#phone").val();
    var result = LoadAjaxData(url);
    if(result.data != undefined){
      exist = true;
    }
    return exist;
  }
</script>
</body>
</html>
