<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body class="hold-transition skin-blue sidebar-mini">
<section class="content-header">
  <h1>
    任务管理
  </h1>
  <!--<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
    <li class="active">话术管理</li>
  </ol>-->
  <!--<h1>
    hello <span th:text="${username}"></span>.
  </h1>-->
</section>
<!-- Main content -->
<section class="content">
  <div class="box box-primary">
    <form class="form-horizontal" id="mainForm">
      <div class="box-body">
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="col-sm-3 control-label">话术名称:</label>
            <div class="col-sm-9">
              <input type="hidden" name="queryDocument">
              <select class="form-control select-control" style="width: 100%;" id="query_document" >
                <option selected="selected" value="0" name="company">全部</option>
                <option th:each="record : ${records}" th:value="${record.documentId}" name='queryDocument' th:text="${record.documentDesc}"></option>
              </select>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-sm-3 control-label">任务状态:</label>
            <div class="col-sm-9">
              <input type="hidden" name="status">
              <select class="form-control select-control" style="width: 100%;" id="sel_status">
                <option name="selOption" value="-1">全部</option>
                <option name="selOption" value="0">未启动</option>
                <option name="selOption" value="1">准备数据</option>
                <option name="selOption" value="2">进行中</option>
                <option name="selOption" value="3">完成</option>
                <option name="selOption" value="4">取消计划</option>
                <option name="selOption" value="5">暂停计划</option>
                <option name="selOption" value="6">恢复运行计划</option>
              </select>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-sm-3 control-label">任务计划时间:</label>
            <div class="col-sm-9 input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="scheduleTime" name="scheduleTime">
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="col-sm-10">

        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary search-button" >查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
          <button type="button" class="btn btn-success" id="add_mission">
            测试拨打任务
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <table id="data_table" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>序号</th>
              <th>话术名称</th>
              <th>任务名称</th>
              <th>公司名</th>
              <th>计划时间</th>
              <th>执行时间</th>
              <th>完成时间</th>
              <th>任务执行状态</th>
              <th>任务类型</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody class="data-table">
            </tbody>
          </table>

          <div class="modal fade" id="schedule-modal">
            <div class="modal-dialog">
              <form class="modal-content audio-form" id="schedule_form" action="/schedule/addAutodialerMission">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">手动拨打任务配置</h4>
                </div>
                <div class="modal-body">

                  <div class="box-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>手机号码</td>
                        <td>
                            <input type="text" name="phoneList" class="form-control" placeholder="多个号码请用逗号隔开" required>
                        </td>
                      </tr>
                      <tr>
                        <td>话术</td>
                        <td>
                          <input type="hidden" name="documentId">
                          <select class="form-control select-control" style="width: 100%;" id="sel_document" >
                            <option th:each="record : ${records}" th:value="${record.documentId}" name='document' th:text="${record.documentDesc}"></option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>服务商账号</td>
                        <td>
                          <input type="text" name="taskConfigKey" class="form-control" placeholder="线路运营商账号,可不填"/>
                        </td>
                      </tr>
                      <tr>
                        <td>是否使用测试服务器</td>
                        <td>
                          <label>
                            <input type="radio" name="useTest" class="minimal-red" value="0" checked>&nbsp;&nbsp;否
                          </label>
                          <label>
                            <input type="radio" name="useTest" class="minimal" value="1">&nbsp;&nbsp;是
                          </label>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="modal-footer row btn-only-box">
                  <button type="button" class="btn btn-primary submit" data-dismiss="modal">确定</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div th:include="common/data-script::data"></div>

<script th:inline="javascript">
  $(function () {

    $('.select-control').select2();
    $('input[type="radio"].minimal').iCheck({
      radioClass: 'iradio_minimal-blue'
    })
    $('input[type="radio"].minimal-red').iCheck({
      radioClass: 'iradio_minimal-red'
    })

    $("#data_table").dataTable({
      serverSide: true,//分页，取数据等等的都放到服务端去
      processing: true,//载入数据的时候是否显示“载入中”
      pageLength: 10,//首次加载的数据条数
      ordering: false,//排序操作在服务端进行，所以可以关了。
      bFilter: false,
      dom:'t<"bottom"ilp><"clear">',
      ajax: {//类似jquery的ajax参数，基本都可以用。
        type: "post",//后台指定了方式，默认get，外加datatable默认构造的参数很长，有可能超过get的最大长度。
        url: "/schedule/v_list",
        dataSrc: "data",//默认data，也可以写其他的，格式化table的时候取里面的数据
        data: function (d) {//d 是原始的发送给服务器的数据，默认很长。
          var param = {};//因为服务端排序，可以新建一个参数对象
          param.start = d.start;//开始的序号
          param.length = d.length;//要取的数据的
          var formData = $("#mainForm").serializeArray();//把form里面的数据序列化成数组 filter_form
          formData.forEach(function (e) {
            param[e.name] = e.value;
          });
          return param;//自定义需要传递的参数。
        },dataFilter: function (json) {//json是服务器端返回的数据
          //如果服务端返回的json字符串符合datatable要求，则直接return json，若不符合则进行以下步骤
          //获取到的是json字符串,转换成json对象，提取所需要的数据
          var dt = $.parseJSON(json);
          //然后定义一个符合datatable要求的对象，data属性的值是实际返回的数据
          var returndt = {
            //"draw": ,
            "recordsTotal": dt.recordsTotal,
            "recordsFiltered": dt.recordsTotal,
            "data":dt.data
          };
          //把符合要求的对象再次转为json字符串return出去
          return JSON.stringify(returndt);
        }
      },
      columns: [//对应上面thead里面的序列
        { data: "id" },
        { data: function (e) {
            if (e.documentDesc != null&&e.documentDesc != "") {
              return e.documentDesc;
            }
            return "无";
          }
        },
        { data: function (e) {
            if (e.missionDesc != null&&e.missionDesc != "") {
              return e.missionDesc;
            }
            return "无";
          }
        },
        { data: function (e) {
            if (e.companyName != null&&e.companyName != "") {
                return e.companyName;
            }
            return " ";
        }
        },
        {
          data: function (e) {
            if (e.scheduleTime) {
              return new Date(e.executedTime).format("yyyy-MM-dd hh:mm:ss");
            }
            return "";
          }
        },
        {
          data: function (e) {
            if (e.executedTime) {
              return new Date(e.executedTime).format("yyyy-MM-dd hh:mm:ss");
            }
            return "";
          }
        },
        {
          data: function (e) {
            if (e.finishedTime) {
              return new Date(e.finishedTime).format("yyyy-MM-dd hh:mm:ss");
            }
            return "";
          }
        },
        {
          data: function (e) {
            if(e.state == 0){
              return "未启动";
            } else if(e.state == 1){
              return "准备数据";
            } else if(e.state == 2){
              return "正在拨打";
            } else if(e.state == 3){
              return "完成";
            } else if(e.state == 4){
              return "取消计划";
            } else if(e.state == 5){
              return "暂停计划";
            } else if(e.state == 6){
              return "恢复运行计划";
            } else if(e.state == -1){
              return "未知错误";
            }else{
              return "";
            }
          }
        },{
          data: function (e) {
            if(e.taskType == 1){
              return "普通子task";
            } else if(e.taskType == 2){
              return "系统子task";
            }else{
              return "普通task";
            }
          }
        },
        {
          data: function (e,row) {
            var html = "";
            if(e.state == 1||e.state == 0){
              html += "<a id='"+e.taskUuid+"' href='/schedule/right_now?uuid="+e.taskUuid+"&status=1'  class='btn btn-default btn-success btn-sm right-now link-button ajax-link'><i class='fa fa-microphone'></i> 立即呼叫</a>";
            }else if(e.state == 2){
              html += "<a id='"+e.taskUuid+"' href='/schedule/right_now?uuid="+e.taskUuid+"&status=-1'  class='btn btn-default btn-success btn-sm right-now link-button ajax-link'><i class='fa fa-microphone-slash'></i> 停止呼叫</a>";
            }
            return html;
          }
        }
      ],
      initComplete: function (setting, json) {
        initLink();
      },
      language: {
        lengthMenu: "每页显示_MENU_ 条",
        processing: "正在加载数据...",//处理页面数据的时候的显示
        search: '<span class="label label-success">搜索：</span>',
        paginate: {//分页的样式文本内容。
          previous: "上一页",
          next: "下一页",
          first: "第一页",
          last: "最后一页"
        },
        zeroRecords: "没有找到符合条件的数据",//table tbody内容为空时，tbody的内容。
        //下面三者构成了总体的左下角的内容。
        info: "共_PAGES_ 页，当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",//左下角的信息显示，大写的词为关键字。
        infoEmpty: "0条记录",//筛选为空时左下角的显示。
        infoFiltered: "(从 _MAX_ 条记录过滤)"//筛选之后的左下角筛选提示(另一个是分页信息显示，在上面的info中已经设置，所以可以不显示)，
      }
    });

    $('#scheduleTime').daterangepicker({
      minDate: '2018-01-01 00:00:00',
      maxDate: new Date(),
      showDropdowns: true,
      buttonClasses: 'btn',
      timePicker24Hour: true,
      dateLimit: { days: 7 },
      locale: {
        format:'YYYY-MM-DD',
        applyLabel: '确定',
        cancelLabel: 'Clear',
        fromLabel: '从',
        toLabel: '到',
        weekLabel: 'W',
        customRangeLabel: '自定义',
        daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        firstDay: 0
      }
    });
    $('#scheduleTime').on('cancel.daterangepicker', function(ev, picker) {
      $('#scheduleTime').val('');
    });
    $('#scheduleTime').trigger('cancel.daterangepicker');

    $(".search-button").click(function (e) {

      $("input[name='status']").val($("#sel_status").find("option:selected").val());
      $("input[name='queryDocument']").val($("#query_document").find("option:selected").val());
      $('#data_table').DataTable().draw();
    })

    $("#add_mission").on('click',function (e) {

        //getRecord(this);
        $("#schedule-modal").modal('show');
    })

    /**
     * 清空模态框
     */
    $("#schedule-modal").on('hide.bs.modal', function (e) {
      $("#schedule_form input[type='text']").val("");
    })

    /**
     * 添加任务
     */
    $("#schedule_form .submit").on('click',function (e) {

      $("input[name='documentId']").val($("#sel_document").find("option:selected").val());
      var result = LoadFormAjaxData($("#schedule_form"));
      if(result.status == 1){
        bootAlert(result.msg)
      }
      $('#data_table').DataTable().draw();
    })
  })

  getRecord = function () {
    var url = '/record/json_list';
    var result = LoadAjaxData(url);
    if(result == undefined){
      bootAlert("系统出现问题,请联系开发人员.");
      return;
    }
    var option_html;
    for(var i=0;i<result.length;i++){
      option_html += "<option value='"+result[i].documentId+"' name='document'>"+result[i].documentDesc+"</option>";
    }
    $("#sel_document").html(option_html);
  }
</script>
</body>
</html>
